process {
    withName: '.*:CREATE_TESTS' {
        ext.args = [
            params.required_tests   ? params.required_tests.split(",").collect {"--required_tests $it"}.join(" ")​  : "",
            params.skipped_tests    ? params.skipped_tests.split(",").collect {"--skipped_tests $it"}.join(" ")​    : "",
        ].join(" ").trim()
    }
}
